<div class="slider">
    <h2>Range</h2>
    <span class="slider-min"><%= range.min %></span>
    -
    <span class="slider-max"><%= range.max %></span>
    <div id="range-slider" data-min="<%= range.min %>" data-max="<%= range.max %>">
    </div>
</div>