<% var data = places %>
<div class="source">
    <% include dropdown%>
</div>

<div class="destination">
    <% include dropdown%>
</div>

<div class="depart-time">
    <% include dropdown%>
</div>

<div class="arrival-time">
    <% include dropdown%>
</div>

<div class="passengers">
    <% include dropdown%>
</div>