<form id="<%=type%>" name="<%=type%>" method="get" action="#">
    <% var data = places %>
    <div class="source">
        <% include dropdown%>
    </div>
    <div class="destination">
        <% include dropdown%>
    </div>
    <div class="depart-time">
        <input type="date" required>
    </div>
    <% if (block == "ROUND") { %>
    <div class="arrival-time">
        <input type="date" required>
    </div>
    <% } %>
    <% var data = passengers %>
    <div class="passengers">
        <% include dropdown%>
    </div>
    <input type="submit" class="o-btn form-submit" value="Search">
</form>