<% var data = places %>
<div class="source">
    <% include dropdown%>
</div>

<div class="destination">
    <% include dropdown%>
</div>

<div class="depart-time">
    <input type="date">
</div>

<% if (block == "ROUND") { %>
<div class="arrival-time">
    <input type="date">
</div>
<% } %>

<% var data = passengers %>
<div class="passengers">
    <% include dropdown%>
</div>