<div class="flight-tabs">
    <ul>
        <li class="o-btn-tab tab-btn" data-tab="#one-way">
            One Way
        </li>
        <li class="o-btn-tab tab-btn" data-tab="#round-trip">
            Round
        </li>
    </ul>

    <div id="#one-way" class="tab-block active">
        <% include tab-block %>
    </div>

    <div id=#round-trip" class="tab-block">
        <% include tab-block %>
    </div>

</div>
