<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header class="main-header">
        <h1>TravelComfy: Flight Search Engine</h1>
    </header>
    <div class="main-container">
        <section class="row middle-container">
            <div class="flight-filter">
                <form id="form-filter">
                    <% include ./partials/tabs %>
                    <input type="button" value="Search" id="filter-src-btn" class="o-btn">  </input>
                </form>
                <% include ./partials/slider %>
            </div>
            <div class="flights-block">
                <div class="flight-search-details">
                    <span class="fl-heading">
                        <h2>All Flights</h2>
                    </span>
                    <label class="depart-label hide">Depart :</label>
                    <span class="depart-selected"></span>
                    <label class="arrival-label hide">Return : </label>
                    <span class="arrival-selected"></span>
                </div>
                <div class="container">
                    <ul class="flight-results">
                        <% for (var i=0; i < flights.length; i++) { %>
                            <% var data = flights[i]%>
                            <% include ./client-side/flight-result%>
                        <% } %>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>